.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 550px;
  object-fit: cover;
  transition: 0.5s ease;
  backface-visibility: hidden;
  border-radius: 15px;
}

.middle {
  transition: 0.5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0.8;
  height: 100px;
  width: 100px;
}

.image:hover {
  opacity: 0.3;
}

.middle:hover {
  opacity: 1;
}
