.brand {
  font-weight: 700;
  font-size: 28px;
}

.link {
  cursor: pointer;
}

.linkDisable {
  font-weight: bold;
  color: #fff;
}

.linkDisable:hover {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.authBtn {
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.verticalLine {
  border-left: 3px solid #fff;
  height: 30px;
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
